
  <div class="container mt-5">
<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form">
      
        
      <div class="from-group row">
        <label class="col-sm-2 col-form-label" >Caption :</label>
        <div class="col-md-4">
          <input type="text" class="form-control" formControlName="caption" placeholder="Enter Caption">
        </div>
      </div>
  
  
  
        <div class="row mt-4">
  
          <div class="col-sm-6">
            <input class="form-control" type="file" accept="img/*" (change)="detectFile($event)">
          </div>
        
        </div>
  
  
  
  
  
  
  
  
  
        <div class="row mt-4">
        <div class=" col-md-2">
          <button type="button" class="btn btn-success" (click)="upload()">Uplaod</button>
        </div>
        <div class="col-md-4">
          @if(progress>0)
          {
            <span class="upload">
              {{progress}}%
            </span>
          }
        @if(message){
          <span class="upload" *ngIf="message">
            {{message}}
          </span>
        }
   
      </div>
  
    </div>
  </form>
  </div>
  <div class="col-md-6">
    <!-- @if(imgeUrl && imgeUrl!=='')
  { -->
    <img [src]="imgeUrl" class="img"  alt="Picture here ">
    
  </div>

</div>
<div class="row mt-4">
  <div class="col-sm-4">
    <input type="text" class="form-control" [(ngModel)]="imageName">
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-2">
    <button class="btn btn-success"  (click)="getPic()" >Get Photo</button>
  </div>
</div>

  </div>